<h1>@ViewBag.random</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    @*<link rel="stylesheet" href="~/css/StyleSheet.css.css" />*@
    <title>Index</title>
</head>
<body>
    <br><br>
    <div id="chartContainer"></div>

    <script type="text/javascript">
        var JavaScriptArray = @Html.Raw(Json.Serialize(ViewBag.DataPoints));
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
				animationEnabled: true,
				title: {
                text: ""

                },
				subtitles: [

                    { text: "" }
				],
                data:
                [
                    {
                            type: "line", //change type to bar, line, area, pie, etc
                            dataPoints: JavaScriptArray /*JavaScriptArray*/
				    }
                    //,{
                    //    type: "line", //change type to bar, line, area, pie, etc
                        //dataPoints: [{ x: 11, y: 16 },
                        //{ x: 16, y: 28 },
                        //{ x: 21, y: 25 }]

                    //    }
				]
			});
        chart.render();
    };
    </script>
    <script>
        var textarea = document.getElementById("Kappa");
        var heightLimit = 200; /* Maximum height: 200px */
        textarea.oninput = function () {
            textarea.style.height = ""; /* Reset the height*/
            textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
        };
    </script>
    <script>
        var textarea = document.getElementById("Kappa");
        var heightLimit = 200; /* Maximum height: 200px */
        textarea.oninput = function () {
            textarea.style.height = ""; /* Reset the height*/
            textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
        };
    </script>
</body>
</html>
<p>Use this area to provide additional information.</p>
