@model CourseProject_Stepovyi.ViewModels.RandomDataViewModel
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RandomData</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2>How many dots to generate?</h2>
    <form method="post">
        <label>Amount of dots</label><br />
        <input asp-for="DotsCount" class="input-sm" style="font-size:120%" /><br />
        <span asp-validation-for="DotsCount" class="text-danger"></span><br />
        <div style="display:flex; flex-direction:row;">
            <div>
                <label>x: start point</label><br />
                <input asp-for="x_start_point" class="input-sm" style="font-size:120%" /><br />
                <span asp-validation-for="x_start_point" class="text-danger"></span><br />
                <label style="margin-left:250px">Errors</label><br />
                <label>x: from</label><br />
                <input asp-for="x_from" class="input-sm" style="font-size:120%" /><br />
                <span asp-validation-for="x_from" class="text-danger"></span><br />
                <label>x: to</label><br />
                <input asp-for="x_to" class="input-sm" style="font-size:120%" /><br />
                <span asp-validation-for="x_to" class="text-danger"></span><br />

            </div>
            <div style="margin-left:40px; margin-top:2px">
                <label>y: start point</label><br />
                <input asp-for="y_start_point" class="input-sm" style="font-size:120%" /><br />
                <span asp-validation-for="y_start_point" class="text-danger"></span><br /><br />
                <div style=" margin-top:4px">
                    <label>y: from</label><br />
                    <input asp-for="y_from" class="input-sm" style="font-size:120%" /><br />
                    <span asp-validation-for="y_from" class="text-danger"></span><br />
                    <label>y: to</label><br />
                    <input asp-for="y_to" class="input-sm" style="font-size:120%" /><br />
                    <span asp-validation-for="y_to" class="text-danger"></span><br />
                </div>
            </div>
        </div>
        <div style="margin-top:12px;">
            <input type="submit" value="Submit" class="btn btn-default" style="margin-top:0px;" />
            <a asp-action="Index" style="margin-left:50px; margin-top:50px; position:relative;">Or input your data by hand...</a>
        </div>

    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

